.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button1 {
    background-color: rgb(147, 5, 179);
  }

  body {
    background: #1abc9c;
    background-image: url('https://www.gsn.com/common/html/images/bingo_bg.png?v=1');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    color: white;
    max-width: 1000px;
    inline-size: 1000px;
    overflow-wrap: break-word;


  }